@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Firmamız hakkında bilgi edinmek için: <a href="https://hlsoftware.co">hlsoftware.co</a></p>
</div>
